@{
    ViewBag.Title = "Home Page";
}

<div class=" row">
    <input type="text" id="text" />
    <button class="btn btn-danger" id="reverse">Reverse</button>
    <input type="text" id="reversed" />
</div>
@section scripts{
    <script src="/Scripts/index.js"></script>
}
